body {
  background-color: #444444;
  color: #dddddd;
  font-family: Monospace, Monaco, Helvetica, Sans-serif;
  margin: 5% 5%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)
}

.edu-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)
}

.cert-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)
}

.skl-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)
}

.qual-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)
}

.sum-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)
}

ul {
  line-height: 150%;
}

a {
  text-decoration: none !important;
}

html {  
  scroll-behavior: smooth;  
}


