* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #333333, #555555);
  /* background-color: #444444; */
  color: #dddddd;
  font-family: monospace, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  color: white;
}

.page-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
}

@media (max-width: 1000px) {
  .toggle-button {
    display: flex;
  }
  
  .navbar-links {
    display: none;
    width: 100%;
  }  
    
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  
  .navbar-links li {
    text-align: center;
  }
  
  .navbar-links li a {
    padding: .2rem 1rem;
  }
  
  .navbar-links.active {
    display: flex;
  }
}


.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #333333
}

.edu-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: /* rgba(0,0,0, 0.1) */ #333333
}

.achi-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #333333
}

.qual-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #333333
}

.high-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #333333
}

.cont-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #333333
}

ul {
  line-height: 150%;
}

a {
  text-decoration: none !important;
}

html {  
  scroll-behavior: smooth; 
}

h4, h5, h6 {
  margin-left: 15px; 
}

.button {
  display: inline-flex;
  height: 50px;
  padding: 0;
  background: #009578;
  border: none;
  outline:none;
  border-radius: 5px;
  overflow: hidden;
  font-family: monospace, sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background: #008168;
}

.button:active {
  background: #006e58;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}

a:link {
color: #FF7F50;
background-color: transparent;
text-decoration: none;
}

a:visited {
color: #FF7F50;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: #ff6c37;
background-color: transparent;
text-decoration: underline;
}

a:active {
color: #ff5a1d;
background-color: transparent;
text-decoration: underline;
}

#btnScrollToTop {
  position: fixed;
  right: 50px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FF7F50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  
}

#btnScrollToTop:hover {
  background: #ff6c37;
}

#btnScrollToTop:active {
  background: #ff5a1d;
  
}

.profile {
  font-family: monospace;
  text-align: center;
  max-width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  display:auto;
  margin-left: auto;
  margin-right: auto;
  
}

.profile__image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: block;
  
}

.profile__name {
  font-size: 1.18em;
  font-weight: bold;
  
}

.profile__title {
  margin-bottom: 20px;
  
}

.profile__detail {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  
}


